 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* ===== Navbar ===== */
        nav{
            width: 100%;
            background: #333;
            color: #fff;
            padding: 15px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
        }

        nav .logo{
            font-size: 22px;
            font-weight: bold;
        }

        nav ul{
            display: flex;
            list-style: none;
        }

        nav ul li{
            margin-left: 25px;
        }

        nav ul li a{
            text-decoration: none;
            color: white;
            font-size: 17px;
        }

        nav ul li a:hover{
            color: #ffcb00;
        }